run = "jupyter notebook --config jupyter_notebook_config.py --ip=0.0.0.0"
modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8888
externalPort = 80

[[ports]]
localPort = 8889
externalPort = 3000

[[ports]]
localPort = 8890
externalPort = 3001

[[ports]]
localPort = 8891
externalPort = 3002

[[ports]]
localPort = 8892
externalPort = 3003
